@import url(https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
}

pre {
  margin-left: 1rem;
}
